body{
    background-color: gold;
}

header{
    text-align: center;
    margin-bottom: 5%;
    background-image: url("assets/Logo_Le_Juste_Prix.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height:150px;

}

input{
    position: relative;
    left: 46%;
}

#button-box{
    position: relative;
    left: 45.6%;
}

#ok{
    margin-top: 5%;
  margin-right: 1.8%;
}

#reset{
    margin-top: 5%;
    margin-left:1.8%;
}

#resultat{
    display: inline-block;
    position: absolute;
    left: 35% ;
    margin-top: 5%;
    border: inset black;
    width: 500px;
    height: 100px;
    text-align: center;
    line-height: 77px;
    font-size: 2em;


}

@keyframes clignoteR  {

    0% {background-color: gold}
    50%{background-color: red}
    100%{background-color: gold}
}

@keyframes clignoteV {
    0% {background-color: gold}
    50% {background-color: green}
    100% {background-color: gold}
}


#vies{
    display: inline-block;
    position: absolute;
    border: inset gold;
    text-align: center;
    font-size: 2em;
    left: 70%;
    width: 150px;


}